@import "app";

// GENERAL
body {
    color: $client-white;

    .title-page {
        text-align: center;
        margin-bottom: 50px;
    }

    section {
        margin-bottom: 30px;
    }
}

// SHOW LAUNCHES
@media screen and (max-width: 640px) {
    .launch-container {
        flex-direction: column;
        width: 100%;

        .launch-content {
            width: 100%;
        }

        .image-and-chrono {
            width: $width-launch-image;

            .counter {
                width: $width-launch-image;
            }
        }
    }

    .launch-container .launch-img-container img {
        width: 100% !important;
    }

    .launch-container.next-launch-container {
        width: auto;
    }
}

a.link-page {
    text-decoration: none;
    color: $client-white;
}

.launches-container{
    display: flex;
    flex-wrap: wrap;
}

.launch-container {
    display: flex;
    color: white;
    margin: 10px;
    min-height: $height-launch-image;
    width: 660px;

    .launch-img-container img {
        width: $width-launch-image;
        height: $height-launch-image;
        object-fit: cover;
    }


    .launch-content {
        margin-left: 10px;

        p {
            margin: 0;
        }

        .launch-name  {
            margin-top: 10px;
        }

        .net-date {
            font-weight: bold;
        }
    }
}


form {
    max-width: 500px;
    margin: auto;

    .button-auth-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}

