@import "app";

header {
        background-color: gray;
        width: 100%;
        height: 500px;
        margin-bottom: 20px;

    .navbar {
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

// Carousels

.item.slick-slide {
    background-color: black;
    width: $width-launch-image;
    height: $height-launch-image;
    margin-right: 10px;
    position: relative;

    img {
        width: 100%;
        height: $height-launch-image;
        object-fit: cover;
    }

    .item-launch-name {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        text-align: center;
    }
}

.slick-slider {
    .slick-arrow {
        height: 100%;
        &:hover {
            background-color: black;
            opacity: 0.5;
        }
    }

    .slick-prev {
        z-index: 1;
        left: 0;
    }
    .slick-next {
        right: 0;
    }
}


.background-header-home {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


