@import "../app";
@media screen and (max-width: 640px) {
    .launch-container .launch-content .delete-favorite-button {
        position: inherit;
        img {
            width: 40px;
        }
    }
}

.launch-content {
    position: relative;
    width: 100%;

    .delete-favorite-button {
        position: absolute;
        right: 0;
        bottom: 0;

        width: 40px;
        height: auto;

        img {
            width: 40px;
        }
    }

    .description {
        padding-right: 40px;
    }
}

