@import "../app";
@media screen and (max-width: 640px) {
    .launch-details-section .launch-container {
        width: 100%;
    }
    .img-date-container {
        flex-wrap: wrap;

        .date-container {
            margin-left: 0 !important;
        }
    }
}

header {
    background-color: gray;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;

    .navbar {
        background-color: $body-bg;
    }

    .map-container {
        width: 100%;
        height: 424px;
        position: relative;

        #map {
            width: 100%;
            height: 100%;
        }
        .location-name-container {
            width: 100%;
            position: absolute;
            z-index: 400;
            bottom: 0;
            padding: 5px;

            .location-name-content {
                background-color: #363636;
                margin: auto;
                max-width: 350px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                padding: 10px;
                text-align: center;

                p {
                    margin: 0;
                }

            }
        }
    }

}

.title-page {
    text-align: center;
}

.launch-details-section .launch-container {
    display: block;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;

    .icon-container {
        width: 70px;
        height: auto;
    }

    .counter {
        max-width: 120px;
    }

    #star-button-container .star-icon-container div svg.fa-star {
        width: 45px;
        height: auto;

        path {
            fill : yellow;
        }
    }
}

.launch-details-section {
    color: white;

    .launch-container {
        max-width: 750px;
        margin: auto;

        .img-date-container {
            display: flex;

            .launch-img-container {
                margin-bottom: 10px;

                img {
                    width: $width-launch-image;
                    height: $height-launch-image;
                    object-fit: cover;
                }
            }

            .date-container {
                margin-left: 10px;
            }
        }

        .launch-info span {
            font-weight: bold;
        }
    }
}





