<template>
    <div class="counter">
        <ul>
            <li><span id="days"></span></li>
            <li><span id="hours"></span></li>
            <li><span id="minutes"></span></li>
            <li><span id="seconds"></span></li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: {
            date: String,
        },
        mounted() {
            const second = 1000,
                minute = second * 60,
                hour = minute * 60,
                day = hour * 24;

            let countDown = new Date(this.date).getTime(),
                x = setInterval(function() {

                    let now = new Date().getTime(),
                        distance = countDown - now;

                    if (Math.floor(distance / (day)) !== 0) {
                        document.getElementById('days').innerText = Math.floor(distance / (day)) + ":";
                    }
                    document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)) + ":";
                    document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)) + ":";
                    document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second) +"s";

                }, second)
        }
    }




</script>

<style>
    .counter {
        background-color: #363636;
        width: 100%;
        height: 50px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: white;


    }
    .counter ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .counter li {
        list-style-type: none;
    }
    .counter span {
        font-size: 20px;
        font-weight: bold;
    }
</style>
