<template>
    <button type="button" class="btn btn-danger" v-on:click="deleteUser">
        <img src="/storage/images/close.svg" alt="close">
    </button>
</template>

<script>
    export default {
        props: {
            id: String
        },

        methods: {
            deleteUser: function(){
                axios.post('/user/delete', {
                    id: this.id
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error.message);
                    });
            }
        }
    }
</script>
