<template>
    <button type="button" class="btn delete-favorite-button" v-on:click="deleteFavorite">
        <img src="/storage/images/bin.svg" alt="">
    </button>
</template>

<script>
    export default {
        props: {
            id: String
        },

        methods: {
            deleteFavorite: function(){
                axios.post('/favorite/delete', {
                    id: this.id
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error.message);
                    });
            }
        }
    }
</script>
