<template>
    <div id="map"></div>
</template>

<script>
    export default {
        props: {
            latitude: String,
            longitude: String,
        },
        mounted() {
            let map = L.map('map').setView([this.latitude, this.longitude], 16);

            L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                maxZoom: 16,
            }).addTo(map);

        }
    }
</script>
