<template>
    <div id="star-button-container">
        <div class="star-icon-container">
            <div type="button" v-on:click="selectActionFavoriteButton(inDb)">
                <i v-bind:class="starStatus + ' ' + 'fa-star'"></i>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            isExist: Boolean,
            launchId: String
        },

        data:function(){
          return{
              inDb: this.isExist,
              starStatus: this.isExist ? 'fas' : 'far'
          }
        },

        methods: {
            selectActionFavoriteButton: function (inDb){
                let url = !inDb ? '/favorite/add' : '/favorite/delete';

                axios.post(url, {
                    id: this.launchId
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error.message);
                    });

                if (!inDb) {
                    document.querySelector("svg.fa-star").setAttribute("data-prefix", "fas");
                } else {
                    document.querySelector("svg.fa-star").setAttribute("data-prefix", "far");
                }

                this.inDb = !this.inDb;
            }
        }
    }
</script>
