@import "../app";

.users-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.user-container {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
    background-color: #363636;
    color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    min-width: 300px;

    p { margin: 0;}

    .user-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #C4C4C4;
        color: black;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        margin: 20px;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        position: absolute;
        right: -15px;
        top: -15px;
        width: 40px;
        height: 40px;

        img {
            width: 140%;
        }
    }
}
