.navbar {
    flex-wrap: initial;
    & a.nav-link {
        color: white;
    }

    #menu-toggle {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        margin-right: 10px;

        img {
            width: 2rem;
            height: auto;
        }
    }
}







