#app {
    overflow-x: hidden;
}

#sidebar-wrapper {
    background-color: #1d2124;
    color: white;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    z-index: 1000;

    a.list-group-item {
        background-color: #1d2124;
        color: white;
        border: none;

        &:hover {
            background-color: gray;
        }

        &.logout-link {
            color: red;
        }
    }
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#app.toggled #sidebar-wrapper {
    margin-left: 0;
}

#close-sidebar {
    float: right;
    margin-right: 25px;
    margin-top: 10px;

    img {
        width: 1rem;
    }
}

